@page
@model SecureModel

<h2>Claims</h2>
<dl>
    @foreach(var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>
<ul>
    @foreach (var guild in Model.Guilds)
    {
        <li>
            <img src="@guild.iconUrl"/>
            <p>@guild.name</p>
            <ul style="margin-left:10px">
                @foreach (var f in guild.features)
                {
                    <li>@f</li>
                }
            </ul>
        </li>
    }
</ul>