@model Emotify.Models.Emote

<div class="m-2">
    <div class="col-md-12 p-2 bg-primary">
        <input type="checkbox" class="form-check-input" name="SelectedEmoteIds" value="@Model.Id" />
        <span>@Html.DisplayFor(model => Model.Name)</span>
    </div>
    <image class="emote-image" src="@Model.EmoteImage.GetHtmlSrcAttribute()" aria-label="Emote image"
        onclick="toggleEmoteChecked(this)" draggable="false" ondragstart="event.preventDefault()"></image>
    <div class="col-md-12 p-1 bg-secondary d-flex justify-content-around flex-row">
        <a class="text-decoration-none" asp-page="./Edit" asp-route-id="@Model.Id">
            <span class="fas fa-edit" aria-label="Edit"></span>
        </a>
        <a class="text-decoration-none" asp-page="./Details" asp-route-id="@Model.Id">
            <span class="fas fa-info" aria-label="Details"></span>
        </a>
        <a class="text-decoration-none" asp-page="./Delete" asp-route-id="@Model.Id">
            <span class="fas fa-trash" aria-label="Delete"></span>
        </a>
    </div>
</div>
