@page "{searchString?}"
@model Emotify.Pages.Emotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="col-md-6">
    <form>
        <div class="form-group my-2">
            <label class="form-label" asp-for="SearchString"></label>
            <input class="form-control" type="text" asp-for="SearchString" />
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Filter" />
        </div>
    </form>
</div>
<hr />
<div class="d-flex">
    @foreach (var item in Model.Emotes)
    {
        <div class="m-2">
            <div class="col-xs-12 p-2 bg-primary">
                <span>@Html.DisplayFor(model => item.Name)</span>
            </div>
            <image class="emote-image" src="@item.EmoteImage.GetHtmlSrcAttribute()" aria-label="Emote image"></image>
            <div class="col-xs-12 p-1 bg-secondary">
                <a class="text-decoration-none p-2" asp-page="./Edit" asp-route-id="@item.Id">
                    <span class="fas fa-edit" aria-label="Edit"></span>
                </a>
                <a class="text-decoration-none p-2" asp-page="./Details" asp-route-id="@item.Id">
                    <span class="fas fa-info" aria-label="Details"></span>
                </a>
                <a class="text-decoration-none p-2" asp-page="./Delete" asp-route-id="@item.Id">
                    <span class="fas fa-trash" aria-label="Delete"></span>
                </a>
            </div>
        </div>
    }
</div>